<div class="toolbar row">
    <div class="col-md-3">
      <h5 class="title-label">
        My Watchlist
        <button type="button" class="btn btn-light btn-sm" (click)="refresh()">
            <fa-icon [icon]="faSync"></fa-icon>
            Refresh
        </button>
      </h5>
    </div>

    <div class="col-md-5 lookup-form">
        <input class="form-control form-control-sm" type="text" placeholder="Lookup Stocks" [(ngModel)]="search">
        <app-list [symbols]="search"></app-list>
        <!-- <button type="button" class="btn btn-secondary btn-sm">
            <fa-icon [icon]="faSearch"></fa-icon>
            Lookup
        </button> -->
    </div>

    <div class="col-md-4 markets">
        <div class="form-group">
            <label for="markets">Market:</label>
            <select class="form-control form-control-sm" id="markets" (change)="updateMarket()" [(ngModel)]="selectedMarket">
                <option *ngFor="let m of markets" [value]="m.mic">{{m.name}}</option>
            </select>

            <!-- <button type="button" class="btn btn-secondary btn-sm" (click)="showDashboard()">
                <fa-icon [icon]="faEye"></fa-icon>
                View
            </button> -->
        </div>
    </div>
</div>