.toolbar {
    border-bottom: solid 1px gray;
}

.toolbar .title-label .btn {
    margin-left: 5px;
}

.toolbar .lookup-form input {
    width: 75%;
    display: inline-block;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* .toolbar .lookup-form .btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: -2px;
} */

.toolbar .markets .form-control {
    display: inline-block;
    width: 65%;
    margin-left: 10px;
    margin-right: 10px;
}

.toolbar .markets .btn {
    margin-top: -2px;
}