<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Tickers</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of tickers; index as i">
                    <td>{{ t.symbol }}</td>
                    <td>{{ t.name }}</td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="" [id]="t.symbol" (change)="updateList($event)"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="addTickers()">
            <fa-icon [icon]="faPlus"></fa-icon>
            Add
        </button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="modal.dismiss('Cross click')">
            <fa-icon [icon]="faBan"></fa-icon>
            No
        </button>
    </div>
</ng-template>

<button type="button" class="btn btn-secondary btn-sm searchBtn" (click)="open(content);lookupTickers()">
    <fa-icon [icon]="faSearch"></fa-icon>
    Lookup
</button>