.modal-content {
    background-color: #333333;
    color: #eeeeee;
}

.modal-header {
    border-bottom: solid #66696b;
}

.modal-header .close {
    color: #eeeeee;
}

.modal-footer {
    border-top: none;
}