<div class="container-fluid dashboard">
    <div class="row">
        <h4 class="col-md-4">{{marketName | async}}</h4>
        <div class="col-md-1 offset-md-7">
            <h4 class="close-icon" (click)="hideDashboard()">
                <fa-icon [icon]="faTimesCircle"></fa-icon>
            </h4>
        </div>
    </div>
</div>