.modal-body {
    padding: 0px 1rem;
}

.modal-body .number-box {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
}

.modal-body .red-row {
    background-color: red;
}

.modal-body .green-row {
    background-color: green;
}

.modal-body .number-box .row {
    border-top: 1px solid #464444;
    padding-top: 10px;
}

.modal-body .chart {
    padding: 0px;
}

.btn {
    margin-right: 5px;
}