<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4 number-box">
                <h3>${{details.last}}</h3>
                <div [class]="colorClass">
                    <h5 class="col-md-12">Trend</h5>
                    <div class="col-md-6">
                        <h5>{{this.change.toFixed(2)}}</h5>
                    </div>
                    <div class="col-md-6">
                        <h5>${{this.percentChange.toFixed(2)}}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5>High</h5>
                        <h5>
                            <fa-icon [icon]="faArrowUp"></fa-icon>
                            {{details.high}}
                        </h5>
                    </div>
                    <div class="col-md-6">
                        <h5>Low</h5>
                        <h5>
                            <fa-icon [icon]="faArrowDown"></fa-icon>
                            {{details.low}}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <h5 class="col-md-12">Volume</h5>
                    <h5 class="col-md-12">{{details.volume}}</h5>
                </div>    
            </div>
            <div class="col-md-8 chart">
                <app-chart *ngIf="isOpen" [data]="chartData"></app-chart>
            </div>
        </div>
    </div>
</ng-template>

<button type="button" class="btn btn-secondary btn-sm searchBtn" (click)="open(content)">
    <fa-icon [icon]="faExpandArrowsAlt"></fa-icon>
</button>