<app-navbar></app-navbar>

<div class="container-fluid app">
  <app-dashboard *ngIf="isDashboardOpen | async; else elseBlock"></app-dashboard>

  <ng-template #elseBlock>
    <app-watchlist></app-watchlist>
  </ng-template>
</div>