.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #13416f !important;
    color: white;
    font-weight: 600;
    padding: 0px 15px;
}

.navbar .ng-fa-icon {
    font-size: 36px;
    margin-top: 4px;
}

.navbar .brand {
    font-size: 23px;
    margin-left: 10px;
}

.navbar .clock-container {
    position: absolute;
    right: 15px;
}