<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <fa-icon [icon]="faChartLine"></fa-icon>
    <span class="brand">Stocks</span>
  
    <div class="clock-container">
        <app-clock></app-clock>
    </div>
</nav>