<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Remove Ticker</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Are you sure you want to remove {{symbol}} from your watchlist ?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" (click)="removeTicker();modal.dismiss('Cross click')">Yes</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="modal.dismiss('Cross click')">
            <fa-icon [icon]="faBan"></fa-icon>
            No
        </button>
    </div>
</ng-template>

<button type="button" class="btn btn-danger btn-sm" (click)="open(content)">
    <fa-icon [icon]="faTrashAlt"></fa-icon>
</button>